<div class="h-full w-full flex flex-col">
    <div class="grow min-h-0 relative overflow-hidden">
        <ng-content/>
    </div>
    <div class="flex justify-between">
        <button (click)="previous()" class="h-10 px-5 py-2.5 mt-4 sm:mt-6 text-sm font-medium text-center text-white bg-blue-700 rounded-lg focus:ring-4 focus:ring-blue-200 dark:focus:ring-blue-900 hover:bg-blue-800">
            Précédent
        </button>
        <button (click)="next()" class="h-10 px-5 py-2.5 mt-4 sm:mt-6 text-sm font-medium text-center text-white bg-blue-700 rounded-lg focus:ring-4 focus:ring-blue-200 dark:focus:ring-blue-900 hover:bg-blue-800">
            Suivant
        </button>
    </div>
</div>
